.container-fluid{
    max-width: 100vw;
}
.container{
    max-width: 90vw;
    margin: auto;
}
.row{
    width: 95%;
    margin: auto;
}
.col-full{
    width: 100%;
    margin: auto;
}
.col-half{
    width: 50%;
}

